[submodule "Gym-Data-Server"]
	path = Gym-Data-Server
	url = git@github.com:alecwaddelow/Gym-Data-Server.git
[submodule "Gym-Data-JavaFX"]
	path = Gym-Data-JavaFX
	url = git@github.com:alecwaddelow/Gym-Data-JavaFX.git
